In [1]:
import numpy as np
import pandas as pd

import random 

from Random_Forest_Algorithm import random_forest_algorithm, random_forest_predictions
from Supporting_Functions import calculate_accuracy, calculate_rmse

# Predicting Weather Condition (Classification)

## Loading Data

In [2]:
df = pd.read_csv("weather_condition_data.csv")
df.columns = df.columns.str.replace(' ','_')

In [3]:
df["label"] = df.replace(' ', '_', regex=True).label

In [4]:
df.head()

   atmosphere_pressure  Humidity_(%)  ...  Year_cos     label
0                  745            71  ...  0.999993  Overcast
1                  746            73  ...  0.999999  Overcast
2                  747            80  ...  1.000000  Overcast
3                  747            74  ...  0.999996  Overcast
4                  744            62  ...  0.999988  Overcast

[5 rows x 9 columns]

## Split the data
Using a (70%, 20%, 10%) split for the training, validation, and test sets.

In [5]:
n = len(df)
train_df = df[0:int(n*0.7)]
val_df = df[int(n*0.7):int(n*0.9)]
test_df = df[int(n*0.9):]

## Random Forest Classifier

In [6]:
forest = random_forest_algorithm(train_df, val_df, n_trees=20, n_bootstrap=3000, n_features=5, dt_max_depth=7, ml_task = "classification")
predictions = random_forest_predictions(test_df, forest,  ml_task = "classification")
accuracy = calculate_accuracy(predictions, test_df.label)
print("Accuracy = {}".format(accuracy))

Decision-Tree #  1
Decision-Tree #  2
Decision-Tree #  3
Decision-Tree #  4
Decision-Tree #  5
Decision-Tree #  6
Decision-Tree #  7
Decision-Tree #  8
Decision-Tree #  9
Decision-Tree #  10
Decision-Tree #  11
Decision-Tree #  12
Decision-Tree #  13
Decision-Tree #  14
Decision-Tree #  15
Decision-Tree #  16
Decision-Tree #  17
Decision-Tree #  18
Decision-Tree #  19
Decision-Tree #  20
Accuracy = 0.8399488926746167

## Random Forest Regressor

In [9]:
forest = random_forest_algorithm(train_df, val_df, n_trees=30, n_bootstrap=3000, n_features=5, dt_max_depth=7, ml_task = "regression")

Decision-Tree #  1
Decision-Tree #  2
Decision-Tree #  3
Decision-Tree #  4
Decision-Tree #  5
Decision-Tree #  6
Decision-Tree #  7
Decision-Tree #  8
Decision-Tree #  9
Decision-Tree #  10
Decision-Tree #  11
Decision-Tree #  12
Decision-Tree #  13
Decision-Tree #  14
Decision-Tree #  15
Decision-Tree #  16
Decision-Tree #  17
Decision-Tree #  18
Decision-Tree #  19
Decision-Tree #  20

In [10]:
predictions = random_forest_predictions(test_df, forest, "regression")

In [11]:
rmse = np.sqrt(((predictions - test_df.label) ** 2).mean())
print("RMSE = {}".format(rmse))

RMSE = 4.000610167744221